/*
  main.css
  Minor programmeren, project
  Orin Habich 10689508

  All styling for the website 'Schade door vuurwerk'
*/

text {
  font: 16px sans-serif;
}

body {
  font: 16px sans-serif;
  background: AliceBlue;
}

#barTitle {
  background: #d73027;
  color: white;
  text-align: center;
}

#placeholderTitle {
  opacity: 0;
}

.select {
  color: #d73027;
}

.subheader {
  color: #d73027;
}

div.tooltip {
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    padding: 2px;
    font: 16px sans-serif;
    background: black;
    color: #fff;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
}

#svgFigureHuman {
  width: 400px;
  height: 600px;
}
#eye {
  fill: White;
}
#heart {
  fill: White;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltipInfo .content {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    font: 16px sans-serif;
    text-align: left;
    border-radius: 10px;
    padding: 5px 5px;
    position: absolute;
    z-index: 2;
    margin-left: -150px;
}

.tooltipInfo{
  color: #fff;
  font: 18px sans-Serif;
}

.tooltipInfo:hover .content {
    visibility: visible;
}

.img-holder #textWindow1 {
    position: relative;
    bottom: 500px;
    left: 30px;
}
.img-holder #textWindow2 {
    position: relative;
    bottom: 470px;
    left: 360px;
}
.img-holder #textWindow3 {
    position: relative;
    bottom: 330px;
    left: 150px;
}
.img-holder #textWindow4 {
    position: relative;
    bottom: 270px;
    left: 440px;
}
.img-holder #textWindow5 {
    position: relative;
    bottom: 140px;
    left: 450px;
}
.img-holder #textWindow6 {
    position: relative;
    bottom: 300px;
    left: 70px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: #4575b4;
  stroke-width: 2px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.tooltipLinechart circle {
  fill: none;
  stroke: Black;
  stroke-width: 1px;
}

.hover-line {
  stroke: Black;
  stroke-width: 1px;
  stroke-dasharray: 5,3;
}

input[type=checkbox] {
  transform: scale(2);
}

LABEL.indented-checkbox-text
{
  margin-left: 2em;
  display: block;
  position: relative;
  margin-top: 0em;
  line-height: 2em;
}
