/*
  SEH.css
  Minor programmeren, project
  Orin Habich 10689508
*/


body {
  font-family: "Helvetica Neue", Helvetica, Arial, 12px, sans-serif;
  margin: auto;
  position: relative;
}

text {
  font: 12px sans-serif;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

input {
  margin: 0 7px;
}

h3 {
    color: blue;
}


#toolTipSEH {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}

.container {
  position: relative;
  width: 100%;
}

/* .image {
  display: block;
  width: 100%;
  height: auto;
} */

#headBlack {
    position: absolute;
    width: 40%;
    left: 30%;
}

#headRed {
    position: relative;
    width: 50%;
    left: 25%;
    opacity: 0;
}

#body {
    position: relative;
    /* top: -100%; */
    width: 100%;
}

#headRed:hover {
  opacity: 1;

}

#headBlack:hover {
  opacity: 0;
}
